.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    min-height: 0;
    padding: 10vh 0 50vh;
    overflow: hidden auto;
    word-break: break-all;

    @media screen and (orientation: portrait) {
        padding: 5vh 0;
    }
}
